# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
sysinfo.txt
*.pidb.meta
/bin/
/LocalPackages/
/UserSettings/
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.csproj
*.csproj.meta
*.csproj.DotSettings
*.unityproj
*.sln
*.sln.meta
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vs/
 
# Builds
*.apk
*.app
#*.exe

*~$*.xlsx*
*.userproperties
*.symbols.zip

# Assets
!Assets/**/*

Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta

Assets/EntityCache/
Assets/EntityCache.meta

Assets/StreamingAssets/

Assets/Plugins/Animancer/Examples/
Assets/Plugins/Animancer/Examples.meta

# OS
.DS_Store

!Packages/**/*

# linked directory
/Packages/samples/Tests
/Packages/samples/Tests.meta
!/Packages/samples/Tests~

/Packages/samples/Samples
/Packages/samples/Samples.meta
!/Packages/samples/Samples~
